body{
  background-color: hsl(15, 0%, 5%);
  margin-top: 15px;
}

.header-nav ul {
  margin: 0;
  padding: 0;
  vertical-align:top;
  text-transform: uppercase;
  list-style-type: none;
  font: bold 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header-nav li {
  display:inline-block;
}

.header-nav a {
  background: #395870;
  background: linear-gradient(#49708f, #293f50);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 12px 20px;
  text-decoration: none;
}

.header-nav a:hover {
  background: #314b60;
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.header-nav li:first-child a {
  border-radius: 4px 0 0 4px;
}

.header-nav li:last-child a {
  border-right: 0;
  border-radius: 0 4px 4px 0;
}

			 /*------Footer Nav--------*/

.footer-nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}

.footer-nav li:last-child {
  margin-right: 0;
}

